body {
  font-size: 18px;
}
.panel-primary {
  border-color: chocolate;
}
.panel-primary>.panel-heading {
  background-color: chocolate;
  border-color: chocolate;
 }


@media print {
  body {
    font-size: 12px;
  }
  .container {
    margin-left:5%;
    margin-right:5%;
  }

/*change all columns to xs size
undo background clearing css*/
  }